html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* Make the app layout fill the screen */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > #root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
